html, body, #root, #root>.wrapper{
  height: 100%;
  background-color: lightgray;
}

* {
  margin: 0px;
  padding: 0px;
}

#root>.landing.wrapper {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  list-style: none;
}

.landing.wrapper header {
  width: 100%;
  flex: 1;
  background-color: gray;
}

.landing.wrapper h1 {
  font-size: 60px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.landing.wrapper h2 {
  font-size: 30px;
  text-align: center;
}

.landing.wrapper main {
  padding-top: 30px;
  flex: 2;
  width: 100%;
}


.landing.wrapper li {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
  padding: 5px 30px;
}

.landing.wrapper li span {
  display: block;
  font-size: 18px;
  font-weight: normal;
}

.landing.wrapper li.final {
  margin-top: 50px;
  text-align: right;
  background-color: gray;
}

.landing.wrapper #clickOver {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
}