

.catListingNumbersItem {
  border-bottom: none;
}

.catListingNumbersItemBottom {
  border: 1px solid black;
  border-top: none;
  background-color: lightgray;
  text-align: center;
}

h5 span {
  font-style: italic;
}

.catListingInfo p {
  margin-top: 10px;
}

.CatListingBottomRow {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.CatListingBottomRow .comments {
  display: flex;
}

.tagList {
  display: flex;
}