.tab-main main h3 {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.tab-main .TagHeading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.tab-main .TagCombos {
  margin: 5px 20px;
}

.tab-main .TagComboItem {
  border: 1px solid black;
  padding: 5px;
  margin-bottom: 10px;
}

.TagComboItem p {
  width: 100%;
  border-bottom: 1px solid black;
}

.tab-main .TagComboItem ul {
  width: 100%;
  display: flex;
  margin-left: 50px;
}

.tab-main .TagComboItem li {
  padding-right: 15px;
}

.tab-main .TagSingles {
  margin: 0px 20px;
  padding-top: 30px;
  border-top: 1px solid black;
}

.tab-main .TagSingles ul {
  display: flex;
  flex-wrap: wrap;
}

.tab-main .TagSingles li {
  width: 50%;
  text-align: center;
  margin-bottom: 10px;
}

li {
  list-style: none;
}

.TagSingles {
  width: 95%;
  margin: 0 auto;
  padding: 20px 0px;
}

.tagsInfo h4 {
  background-color: #d7e9f7;
  color: #314d66;
  font-weight: bold;
  padding: 5px 5px;
  text-align: center;
}

.TagSingles ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding: 20px 0px;
}

.TagSingles ul a {
  min-width: 200px;
  max-width: 30%;
  text-align: center;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
}

.TagSingles a:hover, .TagSingles a:active {
  background-color: #eae870;
  color: #314d66;
}

.TagSingles a {
  color: #fff;
  background-color: #ea5a5a;
  font-weight: bold;
  width: 100%;
  margin: 20px;
}

#TagSingles {
  background-color: white;
}